<div class="container">
    <div class="row">
      <div>
        <form [formGroup]="nameOnlyForm" (ngSubmit)="onSubmitButtonPress()" novalidate>
          <div class="form-group">
            <br>
            <hr>
            <label for="name" class="center-block"> Name: 
              <input class="form-control" formControlName="nameControl" id="name" name="nameControl">
            </label>
              <!-- THE RED LINES ARE NOT ERRORS ITS A TEMP ISSUE WITH ANGULAR LANGUAGE SERVICE -->
            <p *ngIf="name.touched && name.errors && name.errors.required">Name is mandatory </p>
            <p *ngIf="name.errors && name.errors.pattern">Name should start with upper case</p>
            <p *ngIf="name.errors && name.errors.presentsOfSymbols">Name contains forbidden special chars</p>
            <p *ngIf="name.errors && name.errors && name.errors.thisNameAlreadyExist">Name already exist</p>
            <p *ngIf="name.dirty && name.errors && name.errors.atleastTwoAlpha">Must contain atleast two alphabets</p>
          </div>
          <hr>
          <button [disabled]="name.invalid" type="submit" class="btn btn-success">Submit</button>
          <br>
        </form> 
        <h3 style='color: green' *ngIf="saveMessageDisplay"> Saved Successfully</h3>
      </div>
    </div>
</div>
