<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task from Dinesh, t1</title>
</head>
<body>
  <div class="container">
    <div class="row">
       <div>
         <form [formGroup]="nameOnlyForm" (ngSubmit)="onSubmitButtonPress()" novalidate>
          <div class="form-group">
            <br>
            <hr>
            <label for="name" class="center-block"> Name: 
              <input class="form-control" formControlName="nameControl" id="name" placeholder="Ahh!! You can't just have any name you want" name="nameControl" (change)="onChangeInText()">
            </label>
              <!-- THE RED LINES ARE NOT ERRORS ITS A TEMP ISSUE WITH ANGULAR LANGUAGE SERVICE -->
            <p style='color: red' *ngIf="name.touched && name.errors && name.errors.required">Name is mandatory </p>
            <p style='color: red' *ngIf="name.touched && name.errors && name.errors.pattern">Name should start with upper case</p>
            <p style='color: red' *ngIf="name.touched">Name should not contain any special charector</p>
            <p style='color: red' *ngIf="notUniqueName">Name already exist</p>
            <p style='color: red' *ngIf="name.touched && name.errors && name.errors.minLength">Name can't be less than 2 charector</p>
            <!-- <h3 style='color: green' *ngIf="saveMessageDisplay"> Saved Successfully</h3> -->
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Submit</button>
            <br>
           
        </form> 
      </div>
      </div>
    </div>
    <br>
</body>
</html>
