<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task from Dinesh, t1</title>
</head>
<body>
  <div class="container">
    <div class="row">
       <div *ngIf="!submitStatus">
         <form [formGroup]="nameOnlyForm" novalidate (onSubmit)="onSubmitButtonPress()">
          <div class="form-group">
            <br>
            <hr>
            <label for="name" class="center-block"> Name: 
              <input class="form-control" formControlName="name" id="name">
            </label>
            <p style='color: red' *ngIf="nameOnlyForm.get('name').touched">Name is mandatory</p>
            <p style='color: red' *ngIf="nameOnlyForm.get('name'). && nameOnlyForm.get('name').touched">Name should start with upper case</p>
            <p style='color: red' *ngIf="nameOnlyForm.invalid && nameOnlyForm.get('name').touched">Name should not contain any special charector</p>
            <p style='color: red' *ngIf="nameOnlyForm.invalid && nameOnlyForm.get('name').touched">Name already exist</p>
            <p style='color: red' *ngIf="nameOnlyForm.invalid && nameOnlyForm.get('name').touched">Name can't be less than 2 charector</p>
            <button [disabled]="!nameOnlyForm.valid" type="submit" class="btn btn-success">Submit</button>
            <hr>
            <br>
          </div>  
        </form>
      </div>
      </div>
    </div>
</body>
</html>
